* {
  box-sizing: border-box;
}

#Baner
{
	background-image: url("baner.png");
	background-size: 100%; 
	background-repeat: no-repeat;
	background-color: #57c8d0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	float: top;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

ul {
  list-style-type: none;
  margin: 1;
  padding: 0;
  overflow: hidden;
  
}

li {
  display: inline;
  float: left;
}

a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: yellow;
}

#header
{
	float: left;
	position: absolute;
	width: 70%;
	height: 5%;
	background-color: #81b353;
	top: 30%;
	bottom: 0;
	left: 270;
	right: 0;
}

#body
{
	position: absolute;
	width: 70%;
	height: 60%;
	background-color: #f0f9f5;
	top: 35%;
	bottom: 0;
	right: 0;
	left: 270;
}

#footer
{
	position: absolute;
	width:  70%;
	height: 5%;
	background-color: #81b353;
	top: 90%;
	bottom: 0;
	right: 0;
	left: 270;
}
#kwadraty{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 200px; 20px;
	
}

#kwadraty2 {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 200px; 20px;
	
}